<b>Partlist exported from /Users/ryandwyer/Documents/Research/eagle/positive-feedback/pos-feedback.sch at 4/21/14 4:24 PM</b>
<p>
<table>
<tr><td><b>Part</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Description</b></td><td><b>MF</b></td><td><b>MPN</b></td><td><b>OC_FARNELL</b></td><td><b>OC_NEWARK</b></td><td><b>PACKAGE</b></td><td><b>SUPPLIER</b></td></tr>
<tr><td>BP1</td><td>UAF42AU</td><td>UAF42AU</td><td>SOIC127P1030X265-16N</td><td>UNIV ACTIVE FILTER</td><td></td><td>UAF42AU</td><td>1502508</td><td>77C1847</td><td>16-SOIC</td><td>Texas Instruments</td></tr>
<tr><td>C1</td><td>0.1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C2</td><td>10+u</td><td>CPOL-EUE2,5-6E</td><td>E2,5-6E</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C3</td><td>10+u</td><td>CPOL-EUE2,5-6E</td><td>E2,5-6E</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C10</td><td>1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C11</td><td>1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C20</td><td>0.1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C21</td><td>0.1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C22</td><td>10n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C30</td><td>0.1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C31</td><td>0.1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C32</td><td>10n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C40</td><td>1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C50</td><td>0.1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C60</td><td>0.1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C61</td><td>0.1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C70</td><td>0.1u</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C72</td><td>2.7n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>C73</td><td>2.7n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CM5</td><td>AD790JRZ</td><td>AD790JRZ</td><td>SOIC127P600X175-8N</td><td>Fast, Precision Comparator</td><td></td><td>AD790JRZ</td><td>1379065</td><td>88H0079</td><td>SOIC-8</td><td>Analog Devices</td></tr>
<tr><td>GAIN</td><td>M023.5MM_LOCK</td><td>M023.5MM_LOCK</td><td>SCREWTERMINAL-3.5MM-2_LOCK</td><td>Standard 2-pin 0.1" header. Use with</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>INPUT</td><td>M023.5MM_LOCK</td><td>M023.5MM_LOCK</td><td>SCREWTERMINAL-3.5MM-2_LOCK</td><td>Standard 2-pin 0.1" header. Use with</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JATTEN</td><td></td><td>M03LOCK</td><td>1X03_LOCK</td><td>Header 3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JBP</td><td></td><td>M03LOCK</td><td>1X03_LOCK</td><td>Header 3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JCOMP</td><td></td><td>M03LOCK</td><td>1X03_LOCK</td><td>Header 3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JGN</td><td>M02LOCK</td><td>M02LOCK</td><td>1X02_LOCK</td><td>Standard 2-pin 0.1" header. Use with</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JGND</td><td></td><td>M04LOCK</td><td>1X04_LOCK</td><td>Header 4</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JIN</td><td>M02LOCK</td><td>M02LOCK</td><td>1X02_LOCK</td><td>Standard 2-pin 0.1" header. Use with</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JOUT</td><td></td><td>M03X22X3_SILK_SM</td><td>2X3</td><td>2x3 .1" header.</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JPS</td><td>M01PTH</td><td>M01PTH</td><td>1X01</td><td>Header 1</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JXATTEN</td><td></td><td>M03LOCK</td><td>1X03_LOCK</td><td>Header 3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>JXBP</td><td></td><td>M03LOCK</td><td>1X03_LOCK</td><td>Header 3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>M6</td><td>AD633ARZ</td><td>AD633ARZ</td><td>SOIC127P600X175-8N</td><td>Low Cost Analog Multiplier</td><td></td><td>AD633ARZ</td><td>1838897</td><td>19M8829</td><td>SOIC-8</td><td>Analog Devices</td></tr>
<tr><td>OA2</td><td>AD712R</td><td>AD712R</td><td>SO8</td><td>Dual Precision, Low Cost, High Speed BiFET Op Amp</td><td>ALTERA CORPORATION</td><td>AD712KRZ</td><td>1263975</td><td>59K4556</td><td></td><td></td></tr>
<tr><td>OA3</td><td>AD712R</td><td>AD712R</td><td>SO8</td><td>Dual Precision, Low Cost, High Speed BiFET Op Amp</td><td>ALTERA CORPORATION</td><td>AD712KRZ</td><td>1263975</td><td>59K4556</td><td></td><td></td></tr>
<tr><td>OA7</td><td>AD712R</td><td>AD712R</td><td>SO8</td><td>Dual Precision, Low Cost, High Speed BiFET Op Amp</td><td>ALTERA CORPORATION</td><td>AD712KRZ</td><td>1263975</td><td>59K4556</td><td></td><td></td></tr>
<tr><td>OUTPUT</td><td>M023.5MM_LOCK</td><td>M023.5MM_LOCK</td><td>SCREWTERMINAL-3.5MM-2_LOCK</td><td>Standard 2-pin 0.1" header. Use with</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R20</td><td>10k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R21</td><td>10k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R22</td><td>10k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R23</td><td>10k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R30</td><td>10k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R31</td><td>10k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R32</td><td>10.7k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R33</td><td>590</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R34</td><td>10.7k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R35</td><td>21.5k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R60</td><td>5.76k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R61</td><td>3.24k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R62</td><td>1k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R70</td><td>1.07k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R71</td><td>1.07k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R72</td><td>2.15k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R73</td><td>10.7k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R74</td><td>590</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R75</td><td>10.7k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>R76</td><td>21.5k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>RF1</td><td>1.91k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>RF2</td><td>4.34k</td><td>R-US_M0805</td><td>M0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>RG</td><td>49.9k</td><td>R-US_R0805</td><td>R0805</td><td>RESISTOR, American symbol</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>RV1</td><td>10k</td><td>POTALPS-KIT</td><td>ALPS_POT_KIT</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>RV2</td><td>10k</td><td>POTALPS-KIT</td><td>ALPS_POT_KIT</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>S1</td><td></td><td>SWITCH-SPDT-SMD-A</td><td>SWITCH-SPST-SMD-A</td><td>SPDT Switch</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>S2</td><td></td><td>SWITCH-SPDT-SMD-A</td><td>SWITCH-SPST-SMD-A</td><td>SPDT Switch</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>V-GNDV+</td><td></td><td>M03SCREW_LOCK</td><td>SCREWTERMINAL-3.5MM-3_LOCK.007S</td><td>Header 3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>VR4</td><td>AD586BRZ</td><td>AD586BRZ</td><td>SOIC127P600X175-8N</td><td>High Precision 5 V Reference</td><td></td><td>AD586BRZ</td><td>1319376</td><td>19M8818</td><td>SOIC-8</td><td>Analog Devices</td></tr>
</table>
